<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="container" ,  style="text-align: center";>
        {% include 'navbar.html'  %}
        <h1>This is our Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae earum, optio commodi velit corporis excepturi aliquam. Praesentium necessitatibus voluptates sit tenetur modi quis delectus rerum quas quisquam consequuntur harum sequi doloribus quidem, est assumenda exercitationem vel laboriosam impedit veritatis beatae. Atque perferendis fugit nemo explicabo nostrum cumque optio delectus.</p>
        <button>Home</button>
    </div>    
</body>
</html>
